---
import "@/styles/global.css";

import Footer from "@components/Footer/Footer.astro";
import Nav from "@components/Nav/Nav.astro";
import BaseHead from "@layouts/BaseHead.astro";
import { type CollectionEntry } from "astro:content";
import Preloader from "@/components/Preloader/Preloader.astro";
import GoogleTagmanagerNoscript from "@/components/GoogleTagmanagerNoscript/GoogleTagmanagerNoscript.astro";

import Schema from "@/components/Schema/Schema.astro";
import { Toaster } from "@/components/ui/sonner";
const { schemaType = "organization", schemaData = {} } = Astro.props;

// heroImage and authorData are defined on blog posts
// authorData could also be defined on the about author page
interface Props {
	type?: "blog" | "general";
	title: string;
	description: string;
	heroImage?: CollectionEntry<"blog">["data"]["heroImage"];
	authorsData?: CollectionEntry<"authors">[];
	postFrontmatter?: CollectionEntry<"blog">["data"];
	noindex?: boolean; // you need to opt-in to no indexing, as it hides the page from search engines
	schemaType?: string;
	schemaData?: any;
}

const {
	type = "general",
	title,
	description,
	heroImage,
	authorsData,
	postFrontmatter,
	noindex = false,
} = Astro.props as Props;
---

<!doctype html>
<html lang="en" transition:animate="fade">
	<head>
		<BaseHead
			type={type}
			title={title}
			description={description}
			image={heroImage ? heroImage : undefined}
			authors={authorsData ? authorsData : undefined}
			postFrontmatter={postFrontmatter ? postFrontmatter : undefined}
			noindex={noindex}
		/>
		<Preloader color="#ff9200" height="3px" class="custom-loading-class" />
		<Schema type={schemaType} data={schemaData} />

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "BreadcrumbList",
				"itemListElement": [
					{
						"@type": "ListItem",
						"position": 1,
						"name": "Live Fire Instruction",
						"item": "https://livefireinstruction.com/"
					},
					{
						"@type": "ListItem",
						"position": 2,
						"name": "NRA Basic Pistol Course & Virginia Concealed Carry Permit",
						"item": "https://livefireinstruction.com/nra-basic-pistol-shooting-course/"
					},
					{
						"@type": "ListItem",
						"position": 3,
						"name": "First Step Pistol Orientation with Virginia Concealed Carry Permit.",
						"item": "https://livefireinstruction.com/first-step-pistol-orientation/"
					},
					{
						"@type": "ListItem",
						"position": 4,
						"name": "One-on-One Instruction",
						"item": "https://livefireinstruction.com/one-on-one-instruction/"
					},
					{
						"@type": "ListItem",
						"position": 5,
						"name": "NRA CCW Advanced Pistol Course",
						"item": "https://livefireinstruction.com/nra-defensive-pistol-course"
					},
					{
						"@type": "ListItem",
						"position": 6,
						"name": "Firearms Training Northern Virginia",
						"item": "https://livefireinstruction.com/firearms-training-northern-virginia"
					}
				]
			}
		</script>
	</head>
	<body id="body">
		<GoogleTagmanagerNoscript id="GTM-TK2S4T62" />
		<div class="min-h-[100vh]">
			<Nav />
			<main>
				<slot />
			</main>
		</div>
		<Footer />
		<Toaster client:load transition:persist />
		<!-- <ChatWidget client:load /> -->
	</body>
</html>
